@model CesarViewModel

<br/>
<div class="form-group">
  <label for="mensaje">Mensaje Desencriptado:</label>
  <textarea class="form-control" rows="5" id="mensaje">
    @Model.Mensaje
  </textarea>
</div>
