<form asp-controller="Cesar" asp-action="Desencriptar" method="POST">
    <div class="form-group">
    <br/>
    <div class="form-group">
    <label for="mensaje">Mensaje Encriptado:</label>
    <textarea class="form-control" rows="5" id="mensaje" name="mensaje" placeholder="Mensaje"></textarea>
    </div>
    <br/>
    <label for="clave">Clave: </label>
    <input type="number" class="form-control" name="clave">
    <br/>
    <button type="submit" class="btn btn-primary">Desencriptar</button>
    </div>
</form>